{% extends 'wizardskillfarm/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}


<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">{% translate "Characters" %}</div>
    </div>
    <div class="card-body">
        {% if model.characters %}
        <table id="sortableTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Character Name</th>
                    {% if model.skills %}
                    {% for skill in model.skills %}
                    <th>{{ skill.name }}</th>
                    {% endfor %}
                    {% endif %}
                    <th>Extractor Amount</th>
                    <th>Skill Queue End</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if model.characters %}
                {% for character in model.characters %}
                <tr style="line-height: 10px">
                    <td>{{ character.name }}</td>
                    {% if character.skills %}
                    {% for skill in skills.character %}
                    <td>{{ skill.skill_level }}</td>
                    {% endfor %}
                    {% endif %}
                    <td>{{ character.total_large_extractors }}</td>
                    {% if character.skill_queue_end is null %}
                    <td>No Skill Queue</td>
                    {% else %}
                    <td>{{ character.skill_queue_end|date:'d-m-Y' }} {{ character.skill_queue_end|time:'H:i' }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
<script>
    $(document).ready(function()
        {
            $("#sortableTable").tablesorter();
        }
    );
</script>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
