{% load i18n %}
{% load humanize %}
<div class="collapse navbar-collapse" id="market-manager-navbar-collapse-1">
    <ul class="navbar-form navbar-right">
        <a href="/wizard-skillfarm/settings">{% translate "Settings" %}</a>
    </ul>
    <ul class="navbar-form navbar-right">
        <a href="/wizard-skillfarm/omega_time">{% translate "Omega Time" %}</a>
    </ul>
    <ul class="navbar-form navbar-right">
        <a href="/wizard-skillfarm/characters">{% translate "Characters" %}</a>
    </ul>
</div>